<!DOCTYPE html>
<html lang="en">
<!--    34   -->
<head>
    <meta charset="UTF-8">
    <title>Лабораторная работа</title>
</head>
<body>

 <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.group.label }}
            {{ form.group }}
            {{ form.ok }}
     </p>
 </form>
<table>
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
    </tr>
    {% for student in  students%}
    <tr>
        <td>{{student["name"]}}</td>
        <td>{{student["surname"]}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>